.register-form {
  max-width: 400px;
  margin: 0 auto;
}

.register-form__label {
  font-weight: lighter;
  color: #a6a6a6;;
  margin-bottom: 9px!important;
}

.register-form__title {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  padding: 16px 10px 35px;
}

.register-form__button-container {
  padding-top: 25px;
}